{% include 'blocks/header.html' %}

<div class="contactus">
    <div class="container-fluid">
             <div class="row">
                <div class="col-md-8 offset-md-2">
                   <div class="title">
                      <h2>Admin Login</h2>                     
                   </div>
                </div>
             </div>
           </div>
 </div>

 <div class="contact">
    <div class="container-fluid padddd">
      
       <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 padddd">
           <form class="main_form" action="/alogin" method="POST">
              {%csrf_token%}
              <div class="row">                
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <input class="form-control" placeholder="Email" type="email" name="email" required>
                 </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <input class="form-control" placeholder="Password" type="password" name="password" required>
                 </div>                
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button class="send">Login</button>
                 </div>
              </div>
           </form>
          </div> 
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
       </div>
    </div>
 </div>

{% include 'blocks/footer.html' %}