{% include 'blocks/adminheader.html' %}


<div class="contactus">
    <div class="container-fluid">
             <div class="row">
                <div class="col-md-8 offset-md-2">
                   <div class="title">
                      <h2>Customer</h2>  
                      <div class="wrapper">      

        <div id="content">
            <!-- header -->
            <header>
                <!-- header inner -->
                <div class="header">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-3 logo_section">
                                <div class="full">
                                    <div class="center-desk">
                                        <div class="logo">
                                            <a href="index.html"><img src="/static/images/logo.jpg" alt="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="right_header_info">
                                    <ul>
                                        <li>
                                            <a href="/master/login"><b class='text-danger'>login</b></a>
                                        </li>
                                        <li>
                                            <a href="/master/home"><b class='text-danger'>Home</b></a>
                                        </li>
                                        <li>
                                            <a href="/master/category"><b class='text-danger'>Category</b></a>
                                        </li>
                                        <li>
                                            <a href="/master/product"><b class='text-danger'>Product</b></a>
                                        </li>

                                        <li>
                                            <a href="/master/logout"><b class='text-danger'>Logout</b></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   
                   </div>
                </div>
             </div>
           </div>
 </div>

{% include 'blocks/footer.html' %}